<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formation</title>
    <link rel="stylesheet" href="css/formation.css">
</head>
<body>

    <div class="formation">
        <!-- Keeper -->
        <img src="../afbeeldingen/kits/13.png" alt="keeper" class="kit keeper" data-name="13 | Inaki Pena" data-img="../afbeeldingen/players/13-Inaki_Pena-M.png">
        
        <!-- Verdediging -->
        <div class="defenders">
            <img src="../afbeeldingen/kits/3.png" alt="kit 3" class="kit defender left-back" data-name="3 | Alejandro Balde" data-img="../afbeeldingen/players/03-Balde-M.png">
            <img src="../afbeeldingen/kits/5.png" alt="kit 5" class="kit defender center-back" data-name="5 | Inigo Martinez" data-img="../afbeeldingen/players/05-Martinez-M.png">
            <img src="../afbeeldingen/kits/2.png" alt="kit 2" class="kit defender center-back-right" data-name="2 | Pau Cubarsi" data-img="../afbeeldingen/players/02-Cubarsi-M.png">
            <img src="../afbeeldingen/kits/23.png" alt="kit 23" class="kit defender right-back" data-name="23 | Jules Kounde" data-img="../afbeeldingen/players/23-Kounde-M.png">
        </div>
        
        <!-- Middenveld -->
        <div class="midfielders">
            <img src="../afbeeldingen/kits/8.png" alt="kit 8" class="kit midfielder left-center-mid" data-name="8 | Pedri" data-img="../afbeeldingen/players/08-Pedri-M.png">
            <img src="../afbeeldingen/kits/17.png" alt="kit 17" class="kit midfielder right-center-mid" data-name="17 | Marc Casado" data-img="../afbeeldingen/players/17-Casado-M.png">
        </div>
    
        <!-- Aanval -->
        <div class="forwards">
            <img src="../afbeeldingen/kits/11.png" alt="kit 11" class="kit forward left-wing" data-name="11 | Raphinha" data-img="../afbeeldingen/players/11-Raphinha-M.png">
            <img src="../afbeeldingen/kits/9.png" alt="kit 9" class="kit forward striker" data-name="9 | Robert Lewandowski" data-img="../afbeeldingen/players/09-Lewandowski-M.png">
            <img src="../afbeeldingen/kits/19.png" alt="kit 19" class="kit forward right-wing" data-name="19 | Lamine Yamal" data-img="../afbeeldingen/players/19-Lamine-M.png">
            <img src="../afbeeldingen/kits/20.png" alt="kit 20" class="kit forward center-forward" data-name="20 | Dani Olmo" data-img="../afbeeldingen/players/20-Olmo-M.png">
        </div>
    </div>

    <div id="tooltip" class="tooltip"></div>
    <script src="script.js"></script>
</body>
</html>
